<div class="row">
    <div class="col-xs-12" style="color:white;">
        <div id="WeeklyCurve" style="height:450px;">

        </div>
    </div>
</div>
<script>
    require.config({
        paths: {
            echarts: rootUrl + 'Scripts/ECharts'
        }
    });
    pageload();
    setInterval(function () {
        pageload();
    }, 10000);
    function pageload() {
        $.ajax({
            url: rootUrl + "WeeklyCurve/GetWarnFault",
            dataType: "json",
            //data: { eqType: 7, areaId: areaId },
            async: false,
            type: "post",
            success: function (data) {
                var week = data.Result.WeeklyCurveWeek;
                var lastWeek = data.Result.WeeklyCurveLastWeek;

                require(
               [
                   'echarts',
                   'echarts/chart/line'
               ],
               function (ec) {
                   var myChart = ec.init(document.getElementById("WeeklyCurve"));
                   var option = {
                       title: {
                           text: '',
                       },
                       tooltip: {
                           trigger: 'axis'
                       },
                       legend: {
                           data: [{ name: '上周', textStyle: { color: 'white' } }, { name: '本周', textStyle: { color: 'white' } }]
                       },
                       toolbox: {
                           show: false,
                           feature: {
                               mark: { show: true },
                               dataView: { show: false, readOnly: false },
                               magicType: { show: false, type: ['line', 'bar'] },
                               restore: { show: false },
                               saveAsImage: { show: true }
                           }
                       },
                       calculable: false,
                       grid: {
                           borderWidth: 0
                       },
                       xAxis: [
                           {
                               name: '日期',
                               nameTextStyle: {
                                   color: 'white'
                               },
                               type: 'category',
                               boundaryGap: true,
                               splitLine: {
                                   show: false
                               },
                               data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日'],
                               axisLabel: {
                                   formatter: '{value}',
                                   textStyle: { color: 'white' }
                               }
                           }
                       ],
                       yAxis: [
                           {
                               name: '告警数',
                               nameTextStyle: {
                                   color: 'white'
                               },
                               type: 'value',
                               splitLine: {
                                   show: false
                               },
                               axisLabel: {
                                   formatter: '{value}',
                                   textStyle: { color: 'white' }
                               }
                           }
                       ],
                       series: [
                           {
                               name: '上周',
                               type: 'line',
                               itemStyle: {
                                   normal: {
                                       lineStyle: {
                                           width: 2,
                                           type: 'dotted'
                                       }
                                   }
                               },
                               data: [lastWeek.MondayNumber, lastWeek.TuesdayNumber, lastWeek.WednesdayNumber, lastWeek.ThursdayNumber, lastWeek.FridayNumber, lastWeek.SaturdayNumber, lastWeek.SundayNumber]
                           },
                           {
                               name: '本周',
                               type: 'line',
                               data: [week.MondayNumber, week.TuesdayNumber, week.WednesdayNumber, week.ThursdayNumber, week.FridayNumber, week.SaturdayNumber, week.SundayNumber]
                           }
                       ]
                   };

                   // 为echarts对象加载数据
                   myChart.setOption(option);
               }
           );
            }
        });

    }
    
</script>