<div class="row">
    <div class="col-xs-12" style="color:white;">
        <div style="height:450px;word-wrap:break-word;">
            @if (Model == null)
            {
                <h3 style="text-align:center;">未查询到相关小知识</h3>
            }
            else
            {
                <h3 style="text-align:center;">@Model.KnowledgeTitle (@Model.KeyWord)</h3>
                <div class="col-xs-1">

                </div>
                <div class="col-xs-10" style="top:20%;">
                    <div>
                        现象：@Model.Problem
                    </div>
                    <br/>
                    <div>
                        解决方案：@Model.Solution
                    </div>
                </div>
                <div class="col-xs-1">

                </div>
            }
        </div>
    </div>
</div>
