<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logManager" type="Newegg.Oversea.Framework.Configuration.GlobalLogManagerSection, Newegg.Oversea.Framework.Core" />
  </configSections>

	<appSettings>
		<add key="DatabaseListFile" value="Configuration\Data\Database.config"/>
	</appSettings>

  <logManager globalRegionName="NeweggAPI" isDebugEnabled="true" >
    <emitter defaultProvider="TxtEmitter">
      <providers>
        <add name="TxtEmitter" type="Newegg.Oversea.Framework.Log.Emitter.TxtEmitter, Newegg.Oversea.Framework.Core"/>
      </providers>
    </emitter>
  </logManager>
	
</configuration>