<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <!--保镖主页网页发布地址-->
    <add key="SafeguardAbility" value="http://localhost:1126/Home/Index"/>
  </appSettings>
</configuration>
