@{
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <META http-equiv="X-UA-Compatible" content="IE=11" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>运维保镖</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="popBody-content">
        
    </div>
    <script>
        document.oncontextmenu = function (e) {
            return false;
        }
    </script>
</body>
</html>
