<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="oversea">
      <section name="logSettings" type="Newegg.Oversea.Framework.Configuration.LocalLogManagerSection, Newegg.Oversea.Framework.Core" />
      <section name="globalSettings" type="Newegg.Oversea.Framework.Configuration.GlobalSettingsSection, Newegg.Oversea.Framework.Core" />
      <section name="dataAccessSettings" type="Newegg.Oversea.Framework.Configuration.DataAccessManagerSection, Newegg.Oversea.Framework.Core" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DatabaseListFile" value="Configuration\Data\Database.config"/>
    <!--是否将简报.doc生成PDF-->
    <add key="isConvertReportdocToPDF" value="true"/>
  </appSettings>
  <oversea>
    <globalSettings filePath="Configuration\GlobalSettings.config" />
    <logSettings localRegionName="dbFramework" />
    <dataAccessSettings DataCommandFile="Configuration\Data\DbCommandFiles.config" />
  </oversea>
</configuration>
