<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <!--轮询周期：日-小时-分钟-秒-->
    <add key="Quartz" value="0-0-0-10"/>
    <!--每日小知识：-->
    <add key="tips" value="09:30"/>
    <!--周报/月报：-->
    <add key="reports" value="17:00"/>
    <!--保镖主页网页发布地址-->
    <add key="SafeguardAbility" value="http://localhost:1126/Home/Index"/>
    <add key="TipsMissionPlan" value=""/>
    <add key="MonthlyReportMissionPlan" value=""/>
    <add key="WeeklyMissionPlan" value=""/>
  </appSettings>
</configuration>
